
.DS_Store

test/lex/matlib_static_switch.h

test/lex/matlib_static.h

.buckd
buck-out
buckaroo
.buckconfig.local
.buckconfig.d
BUCKAROO_DEPS
buckaroo_macros.bzl
buckaroo-linux
buckaroo-buckaroo_macros